*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #008080;
    min-height: 100vh;
    color: hsl(234, 39%, 85%);
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
}

.container{
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background-color: hsl(235, 24%, 19%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 30px;
    border-radius: 10px;
}

.form-data{
    width: 100%;
    display: flex;
}

.ingresoDatos{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding: 10px;
    outline: none; /*Al pinchar input no se muestra un borde */
    font-size: 18px;
}

button {
    margin-top: 20px;
    width: 10%;
    height: 30px;
    border: none;
    background: none;
    transition: 0.5s;
}

button i{
    width: 100%;
    font-weight: 100;
    font-size: 30px;
    color: green;
    font-weight: bold;
}



h3{
    margin: 10px auto;
}

.task{
    width: 100%;
    background-color: hsl(235, 24%, 19%);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    border: 1px solid hsl(234, 39%, 85%);
    border-left: 30px solid yellow;
    /* dando estilo */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seccionIconos{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.seccionIconos a{
    font-size: 24px;
    color: hsl(234, 39%, 85%);
    margin-top: 10px;
} 

.task p{
    font-size: 25px;
}

::-webkit-input-placeholder { color:black; }



.error{
    border: 1px solid red;
    border-radius: 20px;
}

.tareaCompleta{
    border-left: 30px solid green;
}

.cont{
    display: flex;
    flex-direction: row;
    
}

.caj1{
    margin-top:30px;
    width: 60%;
    height: 100px;
    /* border: 1px black solid; */
    border: none;
}


.caj2{
    margin-top:30px;
    width: 30%;
    height: 100px;
}
